# Arquivos de log e temporários
*.log
*.tmp
*.swp

.DS_Store
Thumbs.db

# Dependências
node_modules/
package-lock.json        # Importante manter no repositório
yarn.lock                # Importante manter no repositório
npm-debug.log
yarn-error.log
FirebaseAuth.js



# Arquivos de build e distribuição
dist/
build/
out/
.next/
.nuxt/
.cache/

# Configurações do Firebase (MUITO IMPORTANTE!)
firebase-config.js       
src/config/firebaseConfig.ts  
**/firebase-adminsdk.json  

# Variáveis de ambiente (se usar)
.env
.env.local
.env.*.local

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln


