# Arquivos de log e temporários
*.log
*.tmp
*.swp

.DS_Store
Thumbs.db

# Dependências
node_modules/
package-lock.json       
yarn.lock                
npm-debug.log
yarn-error.log



# Arquivos de build e distribuição
dist/
build/
out/
.next/
.nuxt/
.cache/

# Configurações do Firebase    
src/config/firebaseConfig.ts  
**/firebase-adminsdk.json  

# Variáveis de ambiente 
.env.local
.env.*.local

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
